body {
  padding: 0;
  margin: 0;
}

/*modal 창 열기 위한 버튼*/
.modalBtn {
  border-radius: 10%;
  border-color: transparent;
  background-color: slateblue;
  width: 100px;
  height: 50px;
}

/*modal 창 연 후 화면 설정*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*modal 창 외 주변 배경화면*/
.back {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

/*modal 창*/
.popup {
  background-color: seashell;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  padding: 10% 10%;
  border-radius: 5%;
}

.hidden {
  display: none;
}
